
FighterFlight/Saved/Logs/FighterFlight.log
FighterFlight/Saved/Logs/FighterFlight.log
FighterFlight/Saved/Config/Windows/EditorPerProjectUserSettings.ini
FighterFlight/Saved/Autosaves/PackageRestoreData.json
*.log
